---
import TenantDeleteDialog from "../dialogs/TenantDeleteDialog.astro";
import TenantDetailsDialog from "../dialogs/TenantDetailsDialog.astro";

import tenant_db_lib from "tenants-db-lib";

const data_stores = tenant_db_lib();
let tenants = await data_stores.tenants().getTenants();
---

<div class="overflow-x-auto">
  <table class="table w-11/12">
    <!-- head -->
    <thead>
      <tr>
        <th>ID</th>
        <th>Business Name</th>
        <th>Tenant Name</th>
        <th>Email</th>
        <th>Created Date</th>
        <th>Updated Date</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {
        tenants.map((tenant) => (
          <tr>
            <td>{tenant.tenant_id}</td>
            <td>{tenant.business_name}</td>
            <td>{tenant.tenant_name}</td>
            <td>{tenant.email}</td>
            <td>{tenant.created_timestamp.toISOString()}</td>
            <td>{tenant.updated_timestamp.toISOString()}</td>
            <td>
              <button
                class="btn btn-info btn-xs mt-btn-tenant-details"
                onclick="tenantDetailsDialog.showModal()"
                data-tenant-id={tenant.tenant_id}
              >
                Details
              </button>
            </td>
            <td>
              <a
                class="btn btn-warning btn-xs"
                href="/tenants/{tenant.tenant_id}"
              >
                Edit
              </a>
            </td>
            <td>
              <button
                class="btn btn-error btn-xs mt-btn-tenant-delete"
                onclick="tenantDeleteDialog.showModal()"
                data-tenant-id={tenant.tenant_id}
              >
                Delete
              </button>
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</div>
<!-- dialogs -->
<TenantDetailsDialog />
<TenantDeleteDialog />

<script>
  import { actions } from "astro:actions";

  document.querySelectorAll(".mt-btn-tenant-details").forEach((btn) => {
    btn.addEventListener("click", async (e) => {
      let btn = e.target as HTMLButtonElement;
      const tenantId = btn.getAttribute("data-tenant-id");
      const tenantInput = document.getElementById(
        "details_tenantId"
      ) as HTMLInputElement;
      if (tenantInput) {
        tenantInput.value = tenantId ?? "unknown";
      }
      const { data, error } = await actions.tenants.getTenant({
        tenant_id: tenantId ?? "unknown",
      });

      // Set dialog values
      document.getElementById("tenant_details_id")!.textContent =
        data?.tenant_id ?? "unknown";
      document.getElementById("tenant_details_business")!.textContent =
        data?.business_name ?? "unknown";
      document.getElementById("tenant_details_name")!.textContent =
        data?.tenant_name ?? "unknown";
      document.getElementById("tenant_details_email")!.textContent =
        data?.email ?? "unknown";
      document.getElementById("tenant_details_created")!.textContent =
        data?.created_at.toString() ?? "unknown";
      document.getElementById("tenant_details_updated")!.textContent = data?.updated_at.toString() ?? "unknown";
    });
  });

  document.querySelectorAll(".mt-btn-tenant-delete").forEach((btn) => {
    btn.addEventListener("click", async (e) => {
      let btn = e.target as HTMLButtonElement;
      const tenantId = btn.getAttribute("data-tenant-id");
      const tenantInput = document.getElementById(
        "delete_tenantId"
      ) as HTMLInputElement;
      if (tenantInput) {
        tenantInput.value = tenantId ?? "unknown";
      }

      const { data, error } = await actions.tenants.getTenant({
        tenant_id: tenantId ?? "unknown",
      });

      document.getElementById("tenant_delete_name")!.textContent =
        data?.tenant_name ?? "unknown";
    });
  });
</script>
